.registrationFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.registrationForm {
  /* max-width: 300px;
  width: 50%; */
  /* padding: 16px; */

  text-align: left;
  margin: 0 auto;
  position: relative;
}

.formContainer {
  margin-top: 16px;
}

.formTitle {
  font-size: 40px;
  text-align: center;
}

.leftImage,
.rightImage {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.inputGroup {
  margin-bottom: 20px;
  width: 300px;
  padding-bottom: 4px;
  text-align: left;
  margin: 0 auto;
  padding-left: 16px;

  position: relative;
}

.inputGroup:nth-child(3n) {
  padding-bottom: 24px;
}

.leftImage {
  max-width: 25%;
  width: 100%;
  left: 0;
  margin-left: 5%;
}

.rightImage {
  top: 25%;
  right: 0;
  margin-right: 5%;
  width: 25%;
  transform: scaleX(-1);
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: calc(100% - 16px);
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.errorMessage {
  color: red;
  position: absolute;
  bottom: -16px;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
  padding: 10px;
  background-color: #000000;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #363636;
}

.btnBack {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  color: #000;
  cursor: pointer;
}

.btnBack:hover {
  color: #363636;
}
