@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
  font-family: "Dnipro";
  src: url("./utils/fonts/DniproCity-Regular.6980d841aa7b28436da8.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Dnipro", sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  font-style: normal;
}

.contentContainer {
  /* display: flex;
  flex-direction: row; */
}

.map {
  width: 800px;
  height: 600px;
  display: block;
}

/* :root {
  .css-yjsfm1 {
    color: white;
  }
  .css-yjsfm1 > span {
    color: white;
  }

  .MuiTextField-root {
    color: white;
  }

  .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
    color: rgb(255, 255, 255);
  }

  .MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-fii3ml-MuiAutocomplete-root
    .MuiOutlinedInput-root {
    color: rgb(255, 255, 255);
  }
} */
